{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>EpicUsername</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.timeToMake }}</td>
                <td>{{ recipe.personNumber }}</td>
                {% for ingredient in recipe.ingredients %}
                <td>{{ ingredient.name }}, {{ ingredient.quantity }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}